body {
    text-align: center;
    background: purple;
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    color: white;
    font-weight: 100;
    font-size: 40px;
    margin: 170px 0px 20px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
}

#clockdiv>div {
    padding: 30px;
    width: 100px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div>span {
    padding: 30px;
    width: 40px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext {
    padding-top: 15px;
    font-size: 16px;
}

.btn_sec {
    margin-top: 50px;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: black;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.button:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}